/*
© Copyright IBM Corporation 2017.
LICENSE: Apache License, Version 2.0 (https://opensource.org/licenses/Apache-2.0)
*/

//body {
//  margin: 0;
//  padding: 0;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 14px;
//  color: #000;
//  background: #fff;
//}
.index {
  padding: 10px;
}

.index code {
  padding: 3px 6px;
  color: #000;
  background: #fff;
  font-size: 14px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
